
*, *::after,*::before {
    margin: 0;
    padding: 0;
   box-sizing: inherit;
}
html{
    //defines what  1 rem is
    font-size:62.5%; /*  equivalent to 10px for browser default 16px*/
}
body {
   
    box-sizing: border-box;
}
